[submodule "external/LiteMath"]
	path = external/LiteMath
	url = https://github.com/msu-graphics-group/LiteMath.git
[submodule "external/vk-utils"]
	path = external/vk-utils
	url = https://github.com/msu-graphics-group/vk-utils.git
